body{
margin:0;
background:#020617;
font-family:monospace;
color:#00f7ff;
overflow:hidden;
}

/* BOOT SCREEN */

.boot{
position:absolute;
width:100%;
height:100%;
background:black;
display:flex;
justify-content:center;
align-items:center;
font-size:28px;
animation:bootfade 3s forwards;
z-index:5;
}

@keyframes bootfade{
80%{opacity:1;}
100%{opacity:0;visibility:hidden;}
}

/* MAIN */

.container{
padding:30px;
}

header{
display:flex;
justify-content:space-between;
}

.status{
color:#00ff88;
text-shadow:0 0 10px #00ff88;
}

/* GRID */

.grid{
display:grid;
grid-template-columns:1fr 2fr 1fr;
gap:20px;
margin-top:20px;
}

/* PANELS */

.panel{
background:rgba(0,0,0,0.4);
backdrop-filter:blur(20px);
border:1px solid cyan;
padding:20px;
box-shadow:0 0 20px cyan;
border-radius:10px;
}

.big{
height:500px;
}

/* INPUT */

input{
width:100%;
padding:12px;
background:black;
border:1px solid cyan;
color:#00f7ff;
}

/* BUTTON */

button{
margin-top:10px;
padding:12px;
background:transparent;
border:1px solid cyan;
color:#00f7ff;
cursor:pointer;
}

button:hover{
box-shadow:0 0 25px cyan;
}

/* TERMINAL */

#terminal{
background:black;
height:420px;
overflow:auto;
padding:15px;
box-shadow:0 0 25px cyan inset;
}

/* RADAR */

.radar{
margin-top:20px;
width:150px;
height:150px;
border-radius:50%;
border:2px solid cyan;
animation:spin 4s linear infinite;
box-shadow:0 0 30px cyan inset;
}

@keyframes spin{
100%{transform:rotate(360deg);}
}

canvas{
position:fixed;
z-index:-1;
}
